 @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}

/*17: 39;*/
.card {
  border-radius: 20px 20px;
  background: whitesmoke;
  padding: 10px;
  width: 100%;
}

.title{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 400px;
  max-height: 900px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;

}
.cardBx {
  margin-bottom: 50px;
}



.jumbotron-image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}




a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}

a:hover {
  background-color: dimgray;
  color: black;
}

.previous {
  background-color: gray;
  color: white;
}

.next {
  background-color: gray;
  color: white;
}

.round {
  border-radius: 50%;

}



.footer {

  position: absolute;
  background: #000;
  bottom: 0;
  right: 0;
  left: 0;
}

.footer .fab {
  margin: 5px;
}

.contenst {
  width: 100%;
  display: flex;
  height: 40vh;
  border-bottom: 1px solid gray; 
}

.container-fluid {
  flex: 1;

}
.smallFooter {

  text-align: center;
  color: white;
  padding: 10px;
  background: #000;

}






@media screen and (max-width:1100px) {
    body {
      position: relative;
    }

    .wrapper{
        flex-direction: column;
    }

    .wrapper_amount{
        margin: -20px 50px;
    }

    .slider{
        width: 173%;
    }
    
    .bag{
        display: none;
    }

    .payment{
        display: none;
    }

    .address{
        display: none;
    }   
    }

